.layer{position: fixed;display: flex;align-items: center;justify-content: center;font-size: 14px;z-index: 1000;
  color: #444;
  left: 0;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, .4);z-index: 100;-webkit-transition: opacity .3s;transition: opacity .3s;}
.layer-ctn{
  display: inline-flex;flex-direction: column;overflow: hidden;
  min-width: 200px;max-width: 80%;min-height: 100px;max-height: 80%;background: #fff;border-radius: 10px;position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  transition: all .3s ease;opacity: 1;
}
.layer-mask{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.layer-title{padding: 20px 20px 10px 20px;font-size: 22px;line-height: 24px;}
.layer-text{padding:  10px 20px;flex: 1;overflow: auto;}
.layer-btns{display: flex;padding: 10px;justify-content: flex-end;min-height: 54px;}
.layer-btns .btn{margin-left: 5px;}
.layer-btns .btn:last-child{font-weight: bold;}

.layer-out, .layer-in{opacity: 0;}
.layer-on{opacity: 1;}

.layer-in .layer-ctn, .fade-enter .layer-ctn{transform: scale(1.05);}
.layer-on .layer-ctn, .fade-enter-to .layer-ctn, .fade-leave-active .layer-ctn{transform: scale(1.0);}
.layer-out .layer-ctn, .fade-leave-to .layer-ctn{transform: scale(0.9);}

.layer.layer-side{display: block;}
.layer.layer-side .layer-ctn{position: absolute;right: 0;top:0;border-radius: 0;height: 100%;max-height: 100%;max-width: 100%;}

.layer-side.layer-in .layer-ctn, .layer-side.fade-enter .layer-ctn{transform: translateX(100%);}
.layer-side.layer-on .layer-ctn, .layer-side.fade-enter-to .layer-ctn, .layer-side.fade-leave-active .layer-ctn{transform: translateX(0);}
.layer-side.layer-out .layer-ctn, .layer-side.fade-leave-to .layer-ctn{transform: translateX(100%);}
.layer-transparent.layer{background-color: transparent;}

@media (min-width: 600px) {
  .layer-ctn{max-width: 600px;}
}