@-webkit-keyframes vueDatePicker {
  0% {opacity: 0;transform: translate3d(-50%, -50%, 0) scale(0);}
  100% {opacity: 1;transform: translate3d(0, 0, 0) scale(1);}
}

@keyframes vueDatePicker {
  0% {opacity: 0;transform: translate3d(-50%, -50%, 0) scale(0); }
  100% {opacity: 1;transform: translate3d(0, 0, 0) scale(1);}
}

.vue-datepicker {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #666;
}
.vue-datepicker .vue-datepicker-panels {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 48px;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.06), 0 3px 8px rgba(0, 0, 0, .15);
          box-shadow: 0 0 2px 1px rgba(0,0,0,.06), 0 3px 8px rgba(0, 0, 0, .15);
  padding: 10px 6px;}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-month {
  display: flex;
  padding-bottom: 4px;
  height: 35px;
  line-height: 35px;
  text-align: center; }
.vue-datepicker .vue-datepicker-panel .vue-datepicker-month a {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 18px;
  color: #999;}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-month a:hover {
    background-color: #F5F6F7; }
.vue-datepicker .vue-datepicker-panel .vue-datepicker-month span {
  flex: 1;
  display: block;
  height: 35px;
  line-height: 35px;
  border-radius: 18px;}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-month span.vue-datepicker-btn:hover {
  background-color: #F5F6F7;
  cursor: pointer; }
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 {
  width: 240px;
  border-collapse: collapse;
  text-align: center; }
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb thead,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 thead {
  height: 35px;
  color: #aaa;
  line-height: 35px;}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb thead tr,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 thead tr {
  border: none; }
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb thead tr th,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 thead tr th {
  padding: 0;
  text-align: center;
  width: 35px;
  font-size: 12px;
  border: none;
  font-weight: normal; }
/* .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr {} */
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td {
  height: 32px;
  padding: 0;
  text-align: center;}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td span{
  display: inline-block;
  width: 32px;
  text-align: center;
}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed {
  cursor: pointer; padding: 0;}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed span,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed span {
  
  height: 32px;
  margin: 0;
  line-height: 32px;
  border-radius: 16px;}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed:hover span,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed:hover span {
  background-color: #F5F6F7;
  color: #018be6; }
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed.z-on span,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed.z-on span {
  color: #FFF;
  background-color: #018be6; }
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed.z-invalid,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed.z-invalid {
  cursor: default; }
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed.z-invalid span,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed.z-invalid span {
  color: #ccc; }
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed.z-invalid:hover,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed.z-invalid:hover {
  background-color: transparent; }
/* .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr {} */
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td {
  height: 32px;
  /* padding: 4px 10px; */
  font-size: 13px; }
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed {
  cursor: pointer; }
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed span {
  display: block;
  height: 32px;
  line-height: 32px; }
