.top-bar{position: relative;height: 60px;padding: 10px;box-shadow: 0 1px 0 rgba(0, 0, 0, .07);background: #fff;z-index: 10;transition: all .3s;}
.card{background: #fff;border-radius: 2px;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15)}

.tooltip{position: absolute;background: rgba(0, 0, 0, 1);padding: 5px 8px;border-radius: 5px;z-index: 20;color: #fff;
  text-align: left;font-size: 12px;line-height: 14px;white-space: nowrap;
  transition: opacity .4s;font-family: 'SFNSText', 'Helvetica Neue', sans-serif, 'Microsoft Yahei'}
.tooltip-el{position: relative;}
.tooltip:after{content: '';position: absolute;display: block;width: 0;height: 0;border-style: solid;border-color: transparent;pointer-events: none;}
.tooltip-top:after{border-width: 4px 4px 0 4px;border-top-color: rgba(0, 0, 0, 1);top: 100%;margin-left: -4px;left: 50%;}
.tooltip-bottom:after{border-width: 0 4px 4px 4px;border-bottom-color: rgba(0, 0, 0, 1);bottom: 100%;margin-left: -4px;left: 50%;}
.tooltip-left:after{border-width: 4px 0 4px 4px;border-left-color: rgba(0, 0, 0, 1);left: 100%;margin-top: -4px;top: 50%;}
.tooltip-right:after{border-width: 4px 4px 4px 0;border-right-color: rgba(0, 0, 0, 1);right: 100%;margin-top: -4px;top: 50%;}
.tooltip.tooltip-break{white-space: normal;width: 200px;word-break: break-all;}

// APP FRAME 前缀 af
// .af-left{width: 200px;border-right: 1px solid rgba(0, 0, 0, .1);background: #e2f1fa;}
// .af-center{width: 400px;border-right: 1px solid rgba(0, 0, 0, .1);background: #f8f8f8;}
// .af-right{flex: 1;}
.af-topbar{display: flex;align-items: center;height: 50px;border-bottom: 1px solid rgba(0, 0, 0, .1);padding: 0 15px;}
.af-bottombar{display: flex;align-items: center;height: 40px;border-top: 1px solid rgba(0, 0, 0, .1);padding: 0 15px;}
.content-tool{
  .tool-item{margin-right: 5px;}
}
.qr-icon{width: 20px;height: 20px;vertical-align: top;opacity: .7;}


.list-view{
  .list-cover{width: 70px;height: 50px;background: #ddd;border-radius: 5px;margin-right: 15px;}
  .list-item{padding: 12px 15px;
    &:hover{background: rgba(0, 0, 0, .05);}
    .icon{margin-right: 5px;}
    .icon:last-child{margin: 0;}
  }
  .list-ctn{width: 50%;padding-top: 2px;}
  .list-title{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;line-height: 1em;
    .flex-item{overflow: hidden;text-overflow: ellipsis;}
  }
  .list-info{line-height: 1em;margin-top: 8px;
    span{margin-right: 10px;}
    .list-info-num i{font-style: normal;display: inline-block;padding: 2px;cursor: default;}
  }
}

.datepicker-popup{border-radius: 8px;color: #666;}
.datepicker__buttons button{margin: 10px 5px 5px 5px!important;border-radius: 3px;}
.datepicker__buttons .datepicker__button-cancel{background: #eee!important;color: #666}

.tab{display: inline-flex;}
.tab-item{line-height: 1em;padding: 6px 10px;border: 1px solid #ccc;color: #666;margin-left: -1px;position: relative;cursor: pointer;
  &:hover{z-index: 2;color: #008eff;border-color: #008eff;}
  &:first-child{border-radius: 4px 0 0 4px;}
  &:last-child{border-radius: 0 4px 4px 0;}
  &.on{background: #008eff;color: #fff;border-color: #008eff;z-index: 4;}
}
// .input{display: block;background: #fff;border: 1px solid #ddd;margin: 10px 0;padding: 8px;border-radius: 5px;font-size: 14px;outline: none;transition: all .2s;
//   &:focus{border-color: #008eff;box-shadow: 0 0 2px 1px rgba(0, 140, 255, 0.438);}
// }